@import "tailwindcss";

/* Tambahan gaya animasi lembut sewaktu membuka tetingkap borang timbul (Modal) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.15s ease-out forwards;
}

/* KAWALAN KHUSUS UNTUK MESIN PENCETAK (PRINTER-FRIENDLY CSS) */
@media print {
  body {
    background-color: white !important;
    color: black !important;
    font-size: 12pt;
  }

  /* Sembunyikan elemen yang mempunyai kelas 'print:hidden' */
  .print\:hidden {
    display: none !important;
  }
}
